.main {
  padding-top: 52px;
  background-color: #161516;
  color: #FFFFFF;

  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 20px;
    height: calc(100vh - 177px);
    overflow: auto;
  }
}